@import "style.css";

/* Header */

.banner-top{
    background-color: #1CD1B0;
}

.txt-banner{
    padding-left: 20px;
}
.header-top{
    align-items: flex-start;
    flex-direction: column;
}

.logo-banner{
    align-items: center;
    display: flex;
    padding: 10px 0;
}

.menu-nav{
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
}

.nombre-empresa{
    color: #fff;
    font-size: 1.875rem;
}

.menu{
    display: flex;
    font-size: 1rem;
    list-style-type: none;
    margin: 8px;
}

.menu li{
    font-style: normal;
    margin: 0 5px;
}

.btn-menu{
    color: #fff;
    text-decoration: none;
}


/* Main */

.container-form{
    align-items: center;
    background-color: #00669F;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px;
    width: 80%;
}

.titulo-form{
    color: #fff;
    font-size: 2.5rem;
}

.subtitulo-form{
    color: #fff;
    font-size: 1.25rem;
}

.formulario{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
}

.columnaUno{
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    width: 100%;
}

.columnaDos{
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    width: 100%;
}

label{
    color: #fff;
    display: block;
    font-size: 1.25rem;
    font-weight: lighter;
}

.box-nombre{    
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    height: 63px;
    padding: 5px;
}

.box-date{
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    height: 63px;
    padding: 5px;
}

.txt-area{
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    height: 313px;
    padding: 5px;
}

.combo-box{
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    height: 63px;
    padding: 5px;
}

input[type="file"]{
    border-radius: 5px;
    height: 32px;
    margin: 18px auto 12px;
}

.txt-check{
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
}

input[type="checkbox"]{
    height: 20px;
    width: 24px;
}

.box-check{
    margin-right: 6px;
}

.txt-radio{
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
}

input[type="radio"]{
    height: 20px;
    width: 24px;
}

.box-radio{
    margin-right: 6px;
}

.btn-add{
    background: #1CD1B0;
    border: 0;
    border-radius: 23.011px;
    font-weight: 700;
    font-size: 40px;
    height: 87px;
    line-height: 44px;
    width: 466px;
}