@import "style.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Header */

.banner-top{
    background-color: #1CD1B0;
}

.txt-banner{
    padding-left: 20px;
}
.header-top{
    align-items: flex-start;
    flex-direction: column;
}

.logo-banner{
    align-items: center;
    display: flex;
    padding: 10px 0;
}

.menu-nav{
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
}

.nombre-empresa{
    color: #fff;
    font-size: 1.875rem;
}

.menu{
    display: flex;
    font-size: 1rem;
    list-style-type: none;
    margin: 8px;
}

.menu li{
    font-style: normal;
    margin: 0 5px;
}

.btn-menu{
    color: #fff;
    text-decoration: none;
}

.btn-menu:hover{
    color: #15d61f;
}


/* Main */

.container-form{
    align-items: center;
    background-color: #00669F;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px;
    width: 80%;
}

.titulo-form{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitulo-form{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.formulario{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
}

/* Columna uno - form */

.columnaUno{
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    width: 100%;
}

.lbl-name::before{
    content: "*";
    padding: 0 5px;
}

label{
    color: #fff;
    display: block;
    font-size: 1.25rem;
    font-weight: lighter;
}

.box-nombre{    
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-size: 1rem;
    height: 63px;
    padding: 15px;
}
.box-nombre:focus{
    background-color: #AFF9FE;
}

.box-nombre:valid{
    border: #15d61f solid 2px;
}

.box-nombre:invalid{
    border: 2px solid red;
}

.box-date{
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-size: 1rem;
    height: 63px;
    padding: 15px;
}

.box-date:invalid{
    border: 2px solid red;
}

.box-date:valid{
    border: #15d61f solid 2px;
}

.txt-area{
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-size: 1rem;
    height: 313px;
    padding: 15px;
}

.txt-area:focus{
    background-color: #AFF9FE;
}

.txt-area:valid{
    border: #15d61f solid 2px;
}

/* Columna 2 Form */

.columnaDos{
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    width: 100%;
}

.lbl-especie::before{
    content: "*";
    padding: 0 5px;
}
.combo-box{
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    font-size: 1rem;
    height: 63px;
    padding: 15px;
}

.combo-box:first-child{
    font-size: 1rem;
    padding: 5px;
}

option:nth-child(2n+1){
    background-color:#1CD1B0;
}

option:nth-child(2n){
    background-color: #AFF9FE;
}

.combo-box:valid{
    border: #15d61f solid 2px;
}

input[type="file"]{
    border-radius: 5px;
    color: #333;
    font-size: 1rem;
    height: 32px;
    margin: 18px 0 12px;;
}

.txt-check{
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
}

input[type="checkbox"]{
    height: 20px;
    width: 24px;
}

.box-check{
    margin-right: 6px;
}

.box-check:checked{
    accent-color: #15d61f;
}
.txt-radio{
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
}

input[type="radio"]{
    height: 20px;
    width: 24px;
}

.box-radio{
    margin-right: 6px;
}

.box-radio:checked{
    accent-color: #15d61f;
}

.btn-add{
    background: #1CD1B0;
    border: 0;
    border-radius: 23.011px;
    font-size: 40px;
    font-weight: 700;
    height: 87px;
    line-height: 44px;
    margin-top: 20px;
    width: 466px;
}

.btn-add:hover{
    background-color: #001D2D;
    color: #fff;
}