/*Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.banner-top{
    background-color: #D1891C;
    height: 38px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.txt-banner{
    font-size: 15px;
    padding: 10px 0;
    padding-left: 50px;
}

.header-top{
    background-color: #00669F;
    box-shadow: 0 3px 15px #000;
    position: sticky;
    height: 101px;
    width: 100%;
    top: 0;
    z-index: 1;
}

.titulo-principal{
    color: #fff;
    font-size: 40px;
    font-weight: lighter;
    padding: 25px 0;
    padding-left: 50px;
}

/* Main */

.noticias{
    display: flex;
    justify-content: space-evenly;
    margin: 150px auto;
}

.articulo-heroe{
    background-color: #F3F3F3;
    border-radius: 17px 17px 0 0;
    box-shadow: 0 3px 10px #666;
    height: 529px;
    margin: auto 10px;
    width: 300px;
}

.maskBatman{
    background-image: url(../img/back_batman.png);
    background-size: cover;
    height: 194px;
}

.maskSuper{
    background-image: url(../img/back_superman.png);
    background-size: cover;
    height: 194px;
}

.maskHarley{
    background-image: url(../img/back_harley.png);
    background-size: cover;
    height: 194px;
}

.maskMaravilla{
    background-image: url(../img/back_MujerMaravilla.png);
    background-size: cover;
    height: 194px;
}

.icono{
    color: #f00;
    position: relative;
    top: 15px;
    left: 15px;
}

.perfil-heroe{
    border-radius: 70px;
    left: 90px;
    height: 128px;
    position: relative;
    right: 90px;
    top: -75px;
    width: 128px;
}

.perfil-heroe.tablet-mobile{
    display: none;
}

.titulo-noticia{
    font-size: 30px;
    font-weight: lighter;
    margin-top: -70px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.txt-noticia{
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
    padding: 15px;
}

.btn-articulo{
    background-color: #00669F;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px 5px;
    text-decoration: none;
}

.btn-articulo:hover{
    background-color: #36769b;
}

.plus{
    background-color: #00669F;
    border-radius: 50px ;
    height: 50px;
    position: absolute;
    top: 82vh;
    right: 8px;
    width: 50px;
}

.plus img{
    padding: 10px;
    width: 50px;
    height: 50px;
}

/* Footer */

.pie{
    align-items: center;
    background-color: #00669F;
    border: 0;
    display: flex;
    height: 51px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.txt-final{
    color: #FFF9F9;
    font-size: 16px;
    font-weight: lighter;
    margin: auto;
}

.logoGit{
    height: 25px;
    margin-right: 20px;
    width: 120px;
}

/* Media queries */

@media screen and (max-width: 768px) {
    
    .noticias{
        flex-wrap: wrap;       
    }

    .articulo-heroe{
        margin: 20px 0;
    }

    .perfil-heroe.tablet-mobile{
        display: block;
    }

    .perfil-heroe.desktop{
        display: none;
    }

}

@media  screen and (max-width: 480px) {

    .pie{
        flex-direction: column;
        height: 80px;
    }
    
    .txt-final{
        margin: 10px 0;
    }

    .logoGit{
        width: 80px;
    }
}